.control {
    display: flex;
    gap: 1.25rem;
    margin: 10px;
}
.contador {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.boton {
    border: 1px solid black;
}
.numeros {
    color: black;
}