.navbar {
  text-decoration: none;
  color: #e878a2;
  position: relative;
  font-size: 20px;
}
.navbar::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}
.navbar:hover::before {
  transform: scaleX(1);
}
.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  margin: 3.125rem;
}
.moniessen {
  width: 6.375rem;
  height: 6.375rem;
  margin: 20px;
}

.carrito {
  border: none;
  color: #0a0a0a;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 70%;
  padding: 10px 20px;
}

.carrito:hover {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(130, 236, 135, 0.171);
}

.cantidadCarrito {
  color: black;
}

.img {
  width: 40px;
}


.carrito {
  background-color: transparent;
  border: none;
}

.button {
  background-color: transparent;
  border: none;
}